@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

body {
  font-family: "Lato", sans-serif !important;
  background: linear-gradient(180deg, rgb(190, 216, 212) 50%, #5c80bc 50%);
}

input {
  border: none;
  height: 3rem;
}

button {
  height: 2.5rem;
  width: 10rem;
}

.button:hover {
  transform: scale(1.1);
}
.total-score,
.score {
  font-size: 3rem;
}

.current-score {
  background: white;
  border-radius: 30px;
}
#dice {
  border-radius: 10px;
  cursor: pointer;
}

.winner {
  position: absolute;
  top: 36%;
  z-index: 50;
}

.winning-img {
  width: 100%;
  max-width: 500px;
}

#myModal {
  z-index: 70;
}

.hidden {
  display: none;
}

.opacity {
  opacity: 0.5;
  z-index: -4;
}

@media all and (min-width: 768px) {
  body {
    background: linear-gradient(90deg, rgb(190, 216, 212) 50%, #5c80bc 50%);
  }
  .winner {
    top: 19%;
  }
}

@media all and (min-width: 1280px) {
  .winner {
    top: 30%;
  }
}
